<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<p>tired of errors from this template!  Your first name is {{${first_name}}}</p>

<p>{%if ${country} == 'US'%}USA!{%else%}NOT USA{%endif%}</p>

<p> </p>

<p>Your last name is {{${last_name} | default: 'this is my default last name'}}</p>

<p> </p>

<p>Did you know: {% connected_content http://numbersapi.com/random/trivia %}?</p>

<p>Hey {% connected_content http://numbersapi.com/random/trivia %}</p>

<p> </p>

<p>{% for i in (0..10) %}</p>

<p>Loop Number {{ i }}</p>

<p>{% endfor %}</p>
</body>
</html>